body{
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-color: #333;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.header{
  margin: 10px 0 20px 0;
}

.header h3{
  margin: 7px 0 0 0;
}

.navigation ul li{
  list-style: none;
  display: inline-block;
  padding-bottom: 5px; 
  margin: 7px 8px 0 8px;
}

.navigation ul li:hover{
  border-bottom: 2px solid #fff;
}

.navigation ul li.active{
  border-bottom: 2px solid #fff;
}

.navigation ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.body{
  margin: 0 0 30px 0;
}

.carousel{
  width: 77%;
  margin: 0 auto;
}

.carousel-control{
  top: 40px;
  bottom: 40px;
}

.left carousel-control span:hover{
  color: #000;
}

.carousel-inner>.item>img {
  width: 60%;
  margin: 0 auto;
}

.carousel-control.left, .carousel-control.right{
  background: none;
}

.carousel-indicators{
  bottom: 0px;
}

.footer{
  margin-top: 10px;
}

@media (min-width: 768px){
  .lead {
    font-size: 15px;
  }
  .carousel-inner>.item>img {
    width: 65%;
  }
  .carousel-control{
    top: 82px;
    bottom: 106px;
  }

}

@media (max-width: 767px){
  .carousel-control{
    top: 82px;
    bottom: 106px;
  }

}

@media (min-width: 992px){
  .carousel-inner>.item>img {
    width: 70%;
  }
}

@media (min-width: 1200px){
  .carousel-inner>.item>img {
    width: 55%;
  }
}